* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


.nav-link {
    transition: 0.1s;
}

.nav-link:hover {
    font-weight: bolder;
}

#section-bg {
    background-image: url("https://65d990c2985bf3c72276c7fd--zesty-caramel-e89ced.netlify.app/assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
}

#section-2 {
    padding: 200px 0;
}

#section-3 {
    background-color: #1d809f;
    padding: 200px 0;
}

#section-3 h3 {
    color: #ecb807;
}

#section-3 h1 {
    letter-spacing: 5px;
    color: white;
}

.service-icon {
    background-color: #fff;
    color: #1D809F;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.fa-mobile-button {
    color: #1D809F;
}

#section-3-h4 {
    color: wheat;
}

#section-3-p {
    color: wheat;
}

#section-4 {
    background-image: url("https://65d990c2985bf3c72276c7fd--zesty-caramel-e89ced.netlify.app/assets/img/bg-callout.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
}



ul li {
    padding-right: 30px;

}

#section5-h3 {
    color: #ecb807;
}

#section5-content {
    padding-top: 100px;
}

#section5 {
    width: 100%;
}

.section-5-image-data {
    position: absolute;
    top: 50%;
    left: 10%;
}

img {
    transition: .2s;

}

img:hover {
    transform: scale(1.1);
}

#section-6 {
    background-color: #1d809f;
    padding: 40% 0;
    color: white;
}


#section-6>.container {
    padding: 7% 0;
}

.section-6-btn {
    border: none !important;
    outline: none !important;
}

.map {
    cursor: not-allowed;
}

.fa-brands {
    font-size: 4rem !important;
    margin-right: 30px;
    color: #1d809f;
    cursor: pointer;
    transition: 0.5s;
}

.fa-brands:hover {
    transform: scale(1.1);
}

footer {
    padding: 100px 0;
}

#footer-para {
    color: black !important;
    margin-top: 35px;
}